# Ignore everything:
/Assets/*
!/Assets/FishNet
!/Assets/AddressableAssetTools
!/Assets/FishNetAddOns
!.gitignore

DefaultPrefabObjects.asset
DefaultPrefabObjects.asset.meta

Documentation
/Library/
/Packages/
/ProjectSettings/
/Temp/
/Builds/
/UserSettings/
/Obj/
/Logs/
*.csproj
*.vs/
*.vsconfig
*.csproj.meta
.idea
